.movie-container{
    background-color: #020202;
    color: #ffffff;
    height: 800px;
    padding-bottom: 1rem;
    .img-box{
        margin: 0 auto;
        width: 100%;
        height: 80%;
        overflow: hidden;
        .image{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
 
    .title{
        font-size: bold;
        font-size: 1.3rem;
        text-decoration: underline;
        margin-top: 1rem;
        padding: 0rem 1rem;
        text-align: left;
    }
    .information-box{
        padding: 0rem 1rem;
        display: flex;
        align-items: center;
        font-size: .9rem;
        gap: 1rem;
        margin-top: .5rem;
    }
    .overview{
        padding: 0rem 1rem;
        font-size: .7rem;
        margin-top: .5rem;
        text-align: left;
    }
}