.search-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .selected-filters-box{
        width: 40%;
        display: flex;
        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            border: 1px solid #565e66;
        }
    }
    .buttons{
        width: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .next-step, .previous-step{
            display: flex;
            align-items: center;
            gap: .5rem;
            width: max-content;
            padding: .5rem;
            font-weight: 500;
            cursor: pointer;
          }
    }

    .result-container{
        height: 500px;
        width: 90%;
        padding: 2rem 0rem;
        .swiper {
            width: 100%;
            height: 100%;
          }
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          } 
    }
}